In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics.pairwise import cosine_similarity
pd.__version__

'0.20.1'

In [2]:
%run 'movies.ipynb'
%run 'tags.ipynb'
%run 'ratings.ipynb'

Tags = getTags()
allMovies = getMovies()
Ratings = getRatings()

verbose ==> False

In [11]:
%run 'utils.ipynb'

In [7]:
avgRatings = getAverageRatings(Ratings)
allMovies = pd.merge(allMovies, avgRatings, on="movieId", how='left')
allMovies.head(2)

,drama,children,fantasy,year,war,western,romancecioccolata,animation,horror,romance,musical,title,movieId,dra,documentary,sci-fi,adventure,thriller,comedy,imax,mystery,action,crime,film-noir,Avg_rating
0,0,1,1,1995,0,0,0,1,0,0,0,Toy Story (1995),1,0,0,0,1,0,1,0,0,0,0,0,3.872470
1,0,1,1,1995,0,0,0,0,0,0,0,Jumanji (1995),2,0,0,0,1,0,0,0,0,0,0,0,3.401869

In [8]:
allMovies['year'] = scale_year(allMovies, 'year')
allMovies['Avg_rating'] = scale_year(allMovies, 'Avg_rating')
sim_from, sim_to = get_source_and_target_movies(allMovies=allMovies)
movie_name = allMovies[allMovies['title'] == sim_to.index.values[0]].movieId.values[0]
print('You want to find movies similar to movie with id <<%s>> and name << %s >>' % (movie_name, sim_to.index.values[0]))

You want to find movies similar to movie with id <<567>> and name << Kika (1993) >>

In [10]:
sim_to.head()

,animation,fantasy,imax,thriller,children,crime,adventure,year,film-noir,mystery,sci-fi,western,horror,dra,drama,romancecioccolata,musical,action,documentary,romance,war,comedy,Avg_rating
title,,,,,,,,,,,,,,,,,,,,,,,
Welcome to the Dollhouse (1995),0,0,0,0,0,0,0,0.983051,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0.679167

In [9]:
%run 'rec_engine_content_based_non_personalized.ipynb'

similar_movies = find_similar_movies(sim_to=sim_to, sim_from=sim_from);

In [10]:
sim_df = pd.DataFrame(data=similar_movies, columns=['title', 'sim_index'])
sim_df = sim_df.sort_values(by=['sim_index'], ascending=False)
sim_df.head(30)

                                                 title       sim_index
517                      Métisse <Café au Lait> (1993)             1.0
507                                        Kika (1993)             1.0
424                                Inkwell, The (1994)  0.999969599419
244                 Madness of King George, The (1994)  0.999969599419
181                             Unstrung Heroes (1995)  0.999879530656
78                  Last Summer in the Hamptons (1995)  0.999879530656
207                                     Ed Wood (1994)  0.999875145388
135                            Blue in the Face (1995)   0.99984100189
276    Three Colors: White <Trzy kolory: Bialy> (1994)  0.999822818917
76                     Antonia's Line <Antonia> (1995)   0.99947316894
310  Adventures of Priscilla, Queen of the Desert, ...  0.999424404516
171                                       Smoke (1995)   0.99941147372
150                                     Jeffrey (1995)   0.99924776687
288                        Swimming with Sharks (1995)   0.99871034267
508                          Bhaji on the Beach (1993)  0.998009985062
420                            I'll Do Anything (1994)   0.99786612415
447                              Mrs. Doubtfire (1993)  0.997734054873
399                                 With Honors (1994)  0.997309903949
157                        Love & Human Remains (1993)   0.99657993721
317                                    Crooklyn (1994)  0.996493525143
289                              Sum of Us, The (1994)  0.996229471298
512                         Spanking the Monkey (1994)  0.996229471298
192                            Boys on the Side (1995)  0.995994146971
272                                   Roommates (1995)  0.995994146971
335                                  Paper, The (1994)  0.995224341366
67                        Kicking and Screaming (1995)  0.993829203167
462                             Renaissance Man (1994)  0.990027501999
542     Bread and Chocolate <Pane e cioccolata> (1973)  0.985289900823
473                                  Scout, The (1994)  0.980185627153
509                           Little Big League (1994)  0.980185627153